@font-face {

    font-family: "Open Sans";
    src: url("../../fonte/OpenSans-Regular.ttf") format("truetype");

}
.bottomLine {
    border-bottom: 1px solid #A9A055;
}
.marginTop10 {
    margin-top: 10px;
}

.marginBotton8px {
    margin-bottom: 8px;
}

.newAddressInfo {
    color: #2497ac;
    font-size: 15px;
}
.marginTop15 {
    margin-top: 15px;
}
.marginBottom10 {
    margin-bottom: 10px;
}
.marginTop5 {
    margin-top: 5px;
}
.marginBottom5 {
    margin-bottom: 5px;
}
.lineNewAddress {
width:100%;
    color: white;
    text-align: center;
    height: 35px;

    margin-top: 30px;
}
.okNewAddress {
    background: rgb(169, 160, 85);  
    color: white;
    text-align: center;
    height: 35px;
    padding: 5px;
    margin-top: 10px;
}
input.transparent-input{
    display: block;
    background-color:transparent !important;
    border:none !important;
    width: 100%; 
    height: 27px;
}
.unit { 
    position: absolute; 
    display: block; 
    left: 16px;
    top: 3px;
    z-index: 9; 
}
.cep{
     padding: 10px 10px 10px 40px;
    color: rgb(122, 122, 122);
}
.endereco{
     padding: 10px 10px 10px 92px;
    color: rgb(122, 122, 122);
}
.complemento{
     padding: 10px 10px 10px 120px;
    color: rgb(122, 122, 122);
}
.bairro{
     padding: 10px 10px 10px 60px;
    color: rgb(122, 122, 122);
}
.numero{
     padding: 10px 10px 10px 70px;
    color: rgb(122, 122, 122);
}
.cidade{
     padding: 10px 10px 10px 65px;
    color: rgb(122, 122, 122);
}
.estado{
     padding: 10px 10px 10px 65px;
    color: rgb(122, 122, 122);
}
.label1{
    padding: 10px 10px 10px 155px;
    color: rgb(122, 122, 122);
}


.imageGoBack {
    width: 20px;
    float: left;
}

.btn {
    border-radius: 0px;
    margin-top: 10px;
    font-family:"Open Sans";
}
.btn-success  {
    background-color: #2497ac;
    border-color: #2497ac;
}
.btn-info {
    background-color: #A9A055;
    border-color: #A9A055;
    width:70%;
    margin-left: 15%;
    margin-top: 5%;
}
.btn-warning {
    color: #A9A055;
    background-color: #FFFFFF;
    border-color: #A9A055;
}
.titulo{
    color: #2497AC;
    font-size: 18px;
    width:79%;
}
.btnadd{
    bottom:1%;
    position:absolute;
    padding:4%;
    width:97%;
    margin-left:2%;
}
.modal-content {
    text-align: center;
    height: 50px;
    padding-top: 15px;
    color: #2497AC;
}