@font-face {

    font-family: "Open Sans";
    src: url("../../fonte/OpenSans-Regular.ttf") format("truetype");

}


.divhide{

    margin-bottom: 8%;
    color:red;
}
.logocentral{
    width:72%;
    text-align:center;
    font-family: "Open Sans";
    font-size:7vw;
    color:#2497AC;
    margin-top:-32px;
    right: -15%;
}





.line {
    width: 100%;
    border-bottom: 4px solid #A9A055;
}

.line2 {
    width: 100%;
    border-bottom: 2px solid #A9A055;
    margin-top: 0%;
    margin-bottom:0%;
}
.btn {
    position:absolute;
    border-radius: 0px;
    margin-top: 10px;
    font-family:"Open Sans";

}
.newAddressText{
    margin-left:10%;
}
.btn-success  {
    background-color: #2497ac;
    border-color: #2497ac;
}
.btn-info {
    background-color: #A9A055;
    border-color: #A9A055;
    width:70%;
    margin-top:70%;
    left:15%;
}

.line3 {
    width: 100%;
    border-bottom: 2px solid #A9A055;
    margin-top: 0%;
    margin-bottom:0%;
}
.line4 {
    width: 100%;
    border-bottom: 2px solid #A9A055;
    margin-top: 2%;
    margin-bottom:0%;
}
.line6 {
    width: 100%;
    border-bottom: 2px solid #A9A055;
    margin-top: 2%;
    margin-bottom:10%;
}
.line5 {
    width: 100%;
    border-bottom: 2px solid #A9A055;
    margin-top: 8%;
    margin-bottom:0%;
    padding-bottom: 2%;
}
.line9 {
    width: 100%;
    border-bottom: 2px solid #A9A055;
    margin-top: 0%;
    margin-bottom:0%;
    padding-bottom: 2%;
}

input.transparent-input{
    display: block;
    background-color:transparent !important;
    border:none !important;
    padding: 5px 10px 15px 45px;
    width: 100%;
    font-family: "Open Sans";
    color:#8d8d8d;
}
.unit4{
    position: absolute;
    display: block;
    left: 16px;
    top: 3px;
    z-index: 8;
    font-family:'Open Sans';
    color: red;
    text-transform: uppercase;
}
input.transparent-input10{
    display: block;
    background-color:transparent !important;
    border:none !important;
    padding: 5px 10px 15px 95px;
    width: 100%;
    font-family: "Open Sans";
    color:#8d8d8d;
}
input.transparent-input19{
    display: block;
    background-color:transparent !important;
    border:none !important;
    padding: 5px 10px 15px 105px;
    width: 100%;
    font-family: "Open Sans";
    color:#8d8d8d;
}
input.transparent-input11{
    display: block;
    background-color:transparent !important;
    border:none !important;
    padding: 5px 10px 15px 115px;
    width: 100%;
    font-family: "Open Sans";
    color:#8d8d8d;
}
input.transparent-input2{
    display: block;
    background-color:transparent !important;
    border:none !important;
    padding: 5px 10px 15px 128px;
    width: 100%;
    font-family: "Open Sans";
    color:#8d8d8d;
}
input.transparent-input3{
    display: block;
    background-color:transparent !important;
    border:none !important;
    padding: 5px 10px 15px 60px;
    width: 100%;
    font-family: "Open Sans";
    color:#8d8d8d;
}
input.transparent-input4{
    display: block;
    background-color:transparent !important;
    border:none !important;
    padding: 5px 10px 15px 129px;
    width: 100%;
    font-family: "Open Sans";
    color:#8d8d8d;
}
input.transparent-input5{
    display: block;
    background-color:transparent !important;
    border:none !important;
    padding: 5px 10px 15px 155px;
    width: 100%;
    font-family: "Open Sans";
    color:#8d8d8d;
}

input.transparent-input6{
    display: block;
    background-color:transparent !important;
    border:none !important;
    padding: 10px 10px 15px 80px;
    width: 100%;
    font-family: "Open Sans";
    color:#8d8d8d;
}


input.transparent-input7{
    display: block;
    background-color:transparent !important;
    border:none !important;
    padding: 10px 10px 15px 240px;
    width: 100%;
    font-family: "Open Sans";
    color:#8d8d8d;
}

input.transparent-input8{
    display: block;
    background-color:transparent !important;
    border:none !important;
    padding: 10px 10px 15px 45px;
    width: 100%;
    font-family: "Open Sans";
    color:#8d8d8d;
}
.unit {
    position: absolute;
    display: block;
    left: 16px;
    top: 3px;
    z-index: 8;
    font-family:'Open Sans';
    color: #34A7C1;
    text-transform: uppercase;
}

.input-box {
    position: relative;
    width: 100%;
    margin-top:20px;
}

.form-control{
    color: #585858;
}
.c2{
    margin-top:5px;
    float: left;
    width: 8%;
    font-family:'Open Sans';
}


.c3{
    float: left;
    width: 7%;
    font-size:22px;
    font-family:'Open Sans';

}

.c41{
    float: left;
    width: 7%;
    font-size:22px;
    font-family:'Open Sans';


}

.c4{
    float: left;
    width: 7%;
    font-size:22px;
    font-family:'Open Sans';
}
.c5{
    float: left;
    width: 7%;
    font-size:25px;
    font-family:'Open Sans';

}



.container{
    padding:0%!important;
}


.profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
}





.marginTop50{
    margin-top:5%;
}








