@font-face {

    font-family: "Open Sans";
    src: url("../../fonte/OpenSans-Regular.ttf") format("truetype");

}
@charset "ISO-8859-1";
.homeIconConf{
    width: 40%;
    margin-top: 5.5px;
    margin-bottom: 5.5px;
}

.glyphicon-exclamation-sign{
    color:red;
}
.colorDark{
    background-color: #58AAB9;
    text-align: center;
    padding-bottom:1.6em;
    padding-top:1.6em;
    bottom:0;
}
.btn{
    background-color: #58AAB9;
    font-size:1.2em;
}
.btn:hover{
    color: #2597ac;
}
.colorClear{
    background-color: #78BDCA;
    text-align: center;
    padding-bottom:1.6em;
    padding-top:1.6em;
    bottom:0;
}
.jconfirm.jconfirm-supervan .jconfirm-box{
    margin-top:50%!important;
}
.date{
    margin-top:2%;
    font-size:1.5em;
}



.plusIcon{
    width:13%;
    float: right;
    bottom:0;
    margin-right:5%;
    margin-top:0%;

}
.offertitle{
    font-family: "Open Sans";
    font-size:5vw;
    margin-left:5%;
    text-transform: uppercase;

}

.endSchedule{
    font-family: "Open Sans";
    font-size:2vh;
    padding-top: 4%;
    color: #A9A055;
    padding-left:10%;
    margin-top:0.5em;
    margin-right: 0.5em;
}
.companyname{
    text-transform: uppercase;
}
.container{
    margin-right:0%!important;
    margin-left:0%!important;
    padding-left:0% !important;
    padding-right:0% !important;

}
.col-xs-12{
    padding-left:0% !important;
    padding-right:0% !important;
    margin-right:0%!important;
    margin-left:0%!important;
}

.col-xs-8{
    padding-left:-20% !important;
    padding-right:-20% !important;
    margin-right:0%;
    margin-left:0%;

}
.imageService{
    height: 69%;
    color: #2497AC;
    font-size: 18px;
    text-align: center;
    text-shadow: 0 0 2px #FFF;
}
.serviceInfoGeneral {
    background-color: #2497AC;
    color: white;

}

* {
    margin:0;
    padding:0;
}


ul {
    list-style:none;
}
img {
    border:0;
}

#foto2{
    display: table-cell;
    vertical-align: middle;
    height:120vw;
    display:block;
    width:auto;
    vertical-align: middle;
    overflow:hidden;
    -webkit-transform: translate(-7.5%, 0%);
    -ms-transform: translate(-7.5%, 0%);
    transform: translate(-7.5%, 0%);
}
#imageServiceHomeId{
    display: table-cell;
}
#imageServiceHomeId .imagem {
    min-height: 100%;
    padding-right:15%;
    display: table-cell;
    vertical-align: middle;
    height:auto;
    width:50vh;
    position:absolute;
    overflow:hidden;
    -webkit-transform: translate(-7.5%, 0%);
    -ms-transform: translate(-7.5%, 0%);
    transform: translate(-7.5%, 0%);
}
#foto2 .imagem img {
    vertical-align: middle;
    position:absolute;
    overflow:hidden;
    -webkit-transform: translate(-7.5%, 0%);
    -ms-transform: translate(-7.5%, 0%);
    transform: translate(-7.5%, 0%);
}
* {margin:0;padding:0;}


ul {
    list-style:none;
}
img {
    border:0;
}

#foto {
    display: table-cell;
    vertical-align: middle;
    height:120vw;
    display:block;
    width:auto;
    overflow:hidden;
    vertical-align: middle;
    -webkit-transform: translate(-7.5%,  0%);
    -ms-transform: translate(-7.5%, 0%);
    transform: translate(-7.5%,  0%);
}
#imageServiceHomeId2{
    display: table-cell;
}
#imageServiceHomeId2 .imagem {
    display: table-cell;
    vertical-align: middle;
    min-height: 100%;
    padding-right: 15%;
    height:auto;
    width:50vh;
    position:absolute;
    overflow:hidden;
    -webkit-transform: translate(-7.5%,  0%);
    -ms-transform: translate(-7.5%, 0%);
    transform: translate(-7.5%, 0%);
}
#foto .imagem img {
    vertical-align: middle;
    position:absolute;
    overflow:hidden;
    -webkit-transform: translate(-7.5%,0%);
    -ms-transform: translate(-7.5%, 0%);
    transform: translate(-7.5%, 0%);

}




.offerinfo{
    position:absolute;
    bottom:0;
    color:white;
    opacity: 1;
    z-index: 10;
    padding:0%;
    margin:0%;
    width:100%;
}
.offerinfoback{
    position:absolute;
    bottom:0;
    opacity: 0.6;
    height:100%;
    width:100%;
    background-color: #2497AC;
    z-index: -1;
    padding:0%;
    margin:0%;
}
.preco{
    background-color: rgba(36, 151, 172, 0.43);
    color:white;
    padding-left:5%;
    overflow: hidden;

}
.oferta1olderprice{
    font-family: "Open Sans";
    text-decoration: line-through;
    font-size:3vw;
    margin-left: 5%;
    margin-top:1%;

}
.offerprice{
    font-size:3.8vw;
    font-family: "Open Sans";

}
.oferta1{
    font-size:5vw;
    margin-left: 5%;
    font-family: "Open Sans";

}
.font10px {
    font-size: 10px;
}
.font12px {
    font-size: 12px;
}
.calendarArea {
    background-color: #78BDCA;
    text-align: center;
    width:37.6%;
    float:left;
    padding-left:0%;
    padding-right:0%;
    height:54vw;
    border-bottom: 1px solid  #58AAB9;
}
.offerArea{
    background-color: #58AAB9;
    text-align: center;
    width:37.6%;
    float:left;
    padding-left:0%;
    padding-right:0%;
    height:54vw;
    border-bottom: 1px solid  #58AAB9;
}

.imageServiceHomeId2{
    padding:0%;
    float:left;
    width:62%;
    height:54vw;
}
.imageServiceHomeId{
    padding:0%;
    float:left;
    width:62%;
    height:54vw;
}

.homeIconConfRight{
    width:35%;
    margin-top: 50%;

}

.col-xs-6{
    padding-left:0% !important;
    padding-right:0% !important;
    margin-right:0%;
    margin-left:0%;
}


.figure img {
    display: block;
}
.figcaption {
    font-family: "Open Sans", sans-serif;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.precoservico{
    margin:0 0 0 0px!important;

}
.col-xs-8{
    padding:0%!important;
}
.col-xs-4{
    padding:0%!important;
}
.col-xs-7{
    padding:0%!important;;
}

.figure img {
    display: block;
}
.figcaption {

    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
