@font-face {

    font-family: "Open Sans";
    src: url("../../fonte/OpenSans-Regular.ttf") format("truetype");

}
.offerOldPrice{
    display: block;
    color: #9b9b9b;
    text-decoration: line-through;
    margin-top:3%;
    margin-bottom:-1%;
    font-family:"Open Sans";
}
.nomeempresa{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
    padding-top:2%;
    padding-bottom:2%;
    color: #2497AC;
    font-size: 1em;
    padding-right:15px;
}
.offerNewPrice{
    display: block;
    color: #2497AC;
    font-size: 18px;
    margin-bottom: -5px;
    font-family:'Open Sans';
}
.offerParcels{
    font-size: 10px;
    color: #9b9b9b;
    display: block;
    margin-top:3%;
    margin-bottom:3%;
    font-family:"Open Sans";

}



.btn-primary {
    color: #816825;
    background-color: rgba(51, 122, 183, 0);
    border-color: #816825;
}



.offerOldPrice{
    font-size:1em!important;
}
.btn {
    border-radius: 0px;

    font-family:"Open Sans";
}
.btn-success  {
    background-color: #2497ac;
    border-color: #2497ac;
}
.btn-info {
    background-color: #A9A055;
    border-color: #A9A055;
}

.compartilhar{
    width:20%;
    float:right;

}

.carousel-inner{
    height:25em!important;
}
.btncomprar{
    position:absolute;
    bottom:8vh;
}
.col-xs-12{
    padding:0%!important;
}
.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0, rgba(255, 255, 255, 0.50) 100%)!important;
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0, rgba(255, 255, 255, 0.50) 100%)!important;
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(255, 255, 255, 0.50)))!important;
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0, rgba(255, 255, 255, 0.50) 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}
.carousel-control.left {
    right: auto;
    left: 0;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0, rgba(255, 255, 255, 0.50) 100%)!important;
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0, rgba(255, 255, 255, 0.50) 100%)!important;
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(255, 255, 255, 0.50)))!important;
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0, rgba(255, 255, 255, 0.50) 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {


    color: #2597AC!important;


}
.navbar{
    -webkit-overflow-scrolling: touch;
}
.container{
    padding:0%!important;
    -webkit-overflow-scrolling: touch;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    min-height: 23em;
    height: auto;
}
.offerPhoto{
    position: relative;
    left: 50%;
    top: 53%;
    height: 100%;
    -webkit-transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%);
    transform: translate(-50%,0%);
}
.textOffer{
    color: #7d7d7d !important;
    width: 100%!important;
    padding-left:5px;
}
.offerPhoto3{
    width:100%; /* you can use % */
    height: 23em;
    overflow: hidden;
}
.metrics{
    margin-bottom:5%;
    text-align: right;
    vertical-align:middle;
    width:100%;

}
.btn-block{
    margin-bottom:13%;
}